
.card-container
{
    background-color:  hsla(150,40%,50%,0.4);
    width: 25vw;
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 20px;
    padding: 1em;
}

.title
{
    font-size: 1.8vw;
    font-family: helvetica, arial, sans-serif;
    font-weight: 200;
}

.subtitle
{
    font-size: 0.8vw;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;

}

.desc
{
    font-size: 0.9vw;
    font-family: helvetica, arial, sans-serif;
    font-weight: 500;
    font-style: italic;
}

.card-image
{
    width: 90%;
}

img
{
    width: 100%;
}